.p-menu {
	padding: $verticalMenuPadding;
	background: $menuBg;
	color: $menuTextColor;
	border: $menuBorder;
	border-radius: $borderRadius;
	width: $menuWidth;

	.p-menuitem {
		@include menuitem-link();
	}

	&.p-menu-overlay {
		background: $overlayMenuBg;
		border: $overlayMenuBorder;
		box-shadow: $overlayMenuShadow;
	}

	.p-submenu-header {
		margin: $submenuHeaderMargin;
		padding: $submenuHeaderPadding;
		color: $submenuHeaderTextColor;
		background: $submenuHeaderBg;
		font-weight: $submenuHeaderFontWeight;
		border-top-right-radius: $submenuHeaderBorderRadius;
		border-top-left-radius: $submenuHeaderBorderRadius;
	}

	.p-menu-separator {
		border-top: $divider;
		margin: $menuSeparatorMargin;
	}
}

html.dark .p-menu {
	background: $menuBgDark;
	color: $menuTextColorDark;
	border: $menuBorderDark;

	&.p-menu-overlay {
		background: $overlayMenuBgDark;
		border: $menuBorderDark;
		box-shadow: $overlayMenuShadowDark;
	}

	.p-submenu-header {
		color: $submenuHeaderTextColorDark;
		background: $submenuHeaderBgDark;
	}

	.p-menuitem {
		> .p-menuitem-content {
			color: $menuitemTextColorDark;

			.p-menuitem-link {
				color: $menuitemTextColorDark;

				.p-menuitem-text {
					color: $menuitemTextColorDark;
				}

				.p-menuitem-icon,
				.p-submenu-icon {
					color: $menuitemIconColorDark;
				}
			}
		}

		&.p-highlight {
			> .p-menuitem-content {
				color: $menuitemTextColorDark;
				background: $menuitemHoverBgDark;

				.p-menuitem-link {
					.p-menuitem-text {
						color: $menuitemTextColorDark;
					}

					.p-menuitem-icon,
					.p-submenu-icon {
						color: $menuitemIconColorDark;
					}
				}
			}

			&.p-focus > .p-menuitem-content {
				background: $menuitemFocusBgDark;
			}
		}

		&:not(.p-highlight):not(.p-disabled) {
			&.p-focus > .p-menuitem-content {
				color: $menuitemTextColorDark;
				background: $menuitemFocusBgDark;

				.p-menuitem-link {
					.p-menuitem-text {
						color: $menuitemTextColorDark;
					}

					.p-menuitem-icon,
					.p-submenu-icon {
						color: $menuitemIconColorDark;
					}
				}
			}

			> .p-menuitem-content:hover {
				color: $menuitemTextHoverColorDark;
				background: $menuitemHoverBgDark;

				.p-menuitem-link {
					.p-menuitem-text {
						color: $menuitemTextHoverColorDark;
					}

					.p-menuitem-icon,
					.p-submenu-icon {
						color: $menuitemIconHoverColorDark;
					}
				}
			}
		}
	}
}
