.p-selectbutton {
    .p-button {
        background: $toggleButtonBg;
        border: $toggleButtonBorder;
        color: $toggleButtonTextColor;
        transition: $formElementTransition;
        padding: 0.4rem 0.6rem;
        font-weight: 600;

        .p-button-icon-left,
        .p-button-icon-right {
            color: $toggleButtonIconColor;
        }

        &:not(.p-disabled):not(.p-highlight):hover {
            background: $toggleButtonHoverBg;
            border-color: $toggleButtonHoverBorderColor;
            color: $toggleButtonTextHoverColor;

            .p-button-icon-left,
            .p-button-icon-right {
                color: $toggleButtonIconHoverColor;
            }
        }

        &.p-highlight {
            background: $toggleButtonActiveBg;
            border-color: $toggleButtonActiveBorderColor;
            color: $toggleButtonTextActiveColor;

            .p-button-icon-left,
            .p-button-icon-right {
                color: $toggleButtonIconActiveColor;
            }

            &:hover {
                background: $toggleButtonActiveHoverBg;
                border-color: $toggleButtonActiveHoverBorderColor;
                color: $toggleButtonTextActiveHoverColor;

                .p-button-icon-left,
                .p-button-icon-right {
                    color: $toggleButtonIconActiveHoverColor;
                }
            }
        }
    }

    &.p-invalid > .p-button {
        @include invalid-input();
    }
}

html.dark .p-selectbutton {
    .p-button {
        background: $toggleButtonBgDark;
        border: $toggleButtonBorderDark;
        color: $toggleButtonTextColorDark;

        .p-button-icon-left,
        .p-button-icon-right {
            color: $toggleButtonIconColorDark;
        }

        &:not(.p-disabled):not(.p-highlight):hover {
            background: $toggleButtonHoverBgDark;
            border-color: $toggleButtonHoverBorderColorDark;
            color: $toggleButtonTextHoverColorDark;

            .p-button-icon-left,
            .p-button-icon-right {
                color: $toggleButtonIconHoverColorDark;
            }
        }

        &.p-highlight {
            background: $toggleButtonActiveBgDark;
            border-color: $toggleButtonActiveBorderColorDark;
            color: $toggleButtonTextActiveColorDark;

            .p-button-icon-left,
            .p-button-icon-right {
                color: $toggleButtonIconActiveColorDark;
            }

            &:hover {
                background: $toggleButtonActiveHoverBgDark;
                border-color: $toggleButtonActiveHoverBorderColorDark;
                color: $toggleButtonTextActiveHoverColorDark;

                .p-button-icon-left,
                .p-button-icon-right {
                    color: $toggleButtonIconActiveHoverColorDark;
                }
            }
        }
    }
}